//Crie um estilo CSS que selecione todos os elementos "h2" com a classe "destaque" e defina as seguintes propriedades: tamanho da fonte como 24 pixels, a fonte como "Arial", a cor do texto como "vermelho" (#FF0000) e uma borda sólida de 2 pixels com a cor "preta" (#000):


h2.destaque {
  font-size: 24px;
  font-family: Arial;
  color: #FF0000;
  border: 2px solid #000;
}
